@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --font-banger: var(--font-bangers-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slide-down 0.2s linear forwards;
}

@keyframes slide-bounce {
    0% {
        transform: translateY(600px);
        opacity: 0;
    }

    45% {
        transform: translateY(30px);
        opacity: 1;
    }

    60% {
        transform: translateY(50px);
    }

    72% {
        transform: translateY(10px);
    }

    82% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-slide-bounce {
    animation: slide-bounce 1.2s cubic-bezier(0.34, 1.36, 0.64, 1) forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(900px);
        opacity: 0;
    }
    to {
        transform: translateY(30px);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 1.4s cubic-bezier(0.34, 1.06, 0.64, 1) forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 2s forwards;
}